<nav class="home">
<%= link_to new_list_path do %><div class="new_list_button">+</div><% end %>
  <% if @lists.empty? %>
    <%="no list to display"%>
    <% else %>
  <% @lists.each do |i| %>
      <div class="list_item">
        <%=  link_to  i.name , list_path(i.id) %>
      </div>
      <% end %>
    <% end %>
</nav>
