<h1>Index</h1>

<%= link_to "create new list", new_list_path %>
<nav class="home">
  <% if @lists.empty? %>
    <%="no list to display"%>
    <% else %>
  <% @lists.each do |i| %>
      <div class="list_item">
        <%=  link_to  i.name , list_path(i.id) %>
      </div>
      <% end %>
    <% end %>
</nav>
